Repository ggustin93/nextjs-fastapi-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript

.pre-commit-config.yaml:

repos:
  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # JavaScript/TypeScript linting and type checking
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd services/web && npm run lint -- --fix'
        language: system
        files: ^services/web/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript
        name: typescript type check
        entry: bash -c 'cd services/web && npx tsc --noEmit'
        language: system
        files: ^services/web/.*\.(ts|tsx)$
        pass_filenames: false

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: detect-private-key

feat(rag): implement cited source filtering and UI improvements
  packages/core/agent.py
  services/api/app/core/rag_wrapper.py
  services/web/src/components/chat/ChatContainer.tsx
  services/web/src/components/chat/ChatLayout.tsx
  services/web/src/components/chat/ChatMessage.tsx
  services/web/src/components/chat/DocumentContent.tsx
  services/web/src/components/chat/DocumentViewer.tsx
  services/web/src/hooks/useChat.ts
  services/web/src/hooks/useMediaQuery.ts
  services/web/src/types/chat.ts
Due: eslint, typescript

fix(rag): resolve React hydration mismatch in ChatLayout
  services/web/src/components/chat/ChatLayout.tsx
Due: eslint, typescript

docs: add troubleshooting guide for RAG retrieval issues
  .env.example
  README.md
  docs/README.md
  docs/TROUBLESHOOT.md
  packages/config/__init__.py
  packages/core/agent.py
Due: none

feat(tools): add weather API tool with SSE streaming
  packages/core/types.py
  packages/core/weather_tool.py
  services/api/app/api/chat.py
  services/api/app/core/rag_wrapper.py
  services/web/src/__tests__/ToolCallBadge.test.tsx
  services/web/src/__tests__/integration/tool-call-flow.test.ts
  services/web/src/components/chat/ToolCallBadge.tsx
  services/web/src/hooks/useChat.ts
  services/web/src/lib/api-client.ts
  services/web/src/types/chat.ts
Due: eslint, typescript

feat(pdf): add page number extraction and display
  packages/ingestion/chunker.py
  packages/ingestion/ingest.py
  services/web/src/__tests__/DocumentViewerBadge.test.tsx
  services/web/src/__tests__/types/Source.test.ts
  services/web/src/components/chat/DocumentContent.tsx
  services/web/src/components/chat/DocumentPanel.tsx
  services/web/src/components/chat/DocumentViewer.tsx
  tests/TEST_SUMMARY_PAGE_NUMBERS.md
  tests/integration/test_page_number_pipeline.py
  tests/unit/packages/core/test_source_page_numbers.py
  tests/unit/packages/ingestion/test_page_extraction.py
Due: eslint, typescript

feat(ui): increase max visible sources from 3 to 5
  services/web/src/components/chat/ChatMessage.tsx
Due: eslint, typescript

chore: update configs and add jest mocks
  CLAUDE.md
  Makefile
  packages/core/config/domain_config.py
  packages/utils/supabase_client.py
  services/web/__mocks__/styleMock.js
  services/web/jest.config.js
Due: eslint

backup: uncommitted changes before Next.js 15 downgrade
  .env.example
  README.md
  docs/TROUBLESHOOT.md
  packages/config/__init__.py
  packages/core/agent.py
  packages/core/tools/external_api_example.py
  packages/core/types.py
  packages/utils/supabase_client.py
  pyproject.toml
Due: none

fix: downgrade to Next.js 15.5.6 for react-pdf compatibility
  services/web/eslint.config.mjs
  services/web/next.config.ts
  services/web/package.json
Due: eslint, typescript

test: fix failing backend and frontend tests
  services/web/src/__tests__/ToolCallBadge.test.tsx
  tests/unit/packages/core/test_agent.py
Due: eslint, typescript

chore: update Next.js 15 config files after npm install
  services/web/package-lock.json
  services/web/tsconfig.json
Due: none

refactor(core): introduce factory pattern and tool registry
  packages/core/__init__.py
  packages/core/factory.py
  packages/core/tools/__init__.py
  packages/core/tools/search_knowledge_base.py
  packages/core/tools/weather_tool.py
  packages/core/types.py
Due: none

refactor(ingestion): modularize pipeline into reader/extractor/persistence
  packages/ingestion/embedder.py
  packages/ingestion/extractors/__init__.py
  packages/ingestion/extractors/metadata_extractor.py
  packages/ingestion/french_stopwords.py
  packages/ingestion/ingest.py
  packages/ingestion/persistence/__init__.py
  packages/ingestion/persistence/postgres_persistence.py
  packages/ingestion/readers/__init__.py
  packages/ingestion/readers/document_reader.py
Due: none

refactor(core): remove domain-specific query expansion
  packages/core/agent.py
  packages/core/cli.py
  packages/core/config/__init__.py
  packages/core/config/domain_config.py
Due: none

feat(api): add session TTL cleanup and use agent factory
  services/api/app/api/documents.py
  services/api/app/core/rag_wrapper.py
Due: none

feat(web): enhance document viewer and add tool activity indicator
  services/web/eslint.config.mjs
  services/web/src/components/chat/ChatContainer.tsx
  services/web/src/components/chat/ChatMessage.tsx
  services/web/src/components/chat/DocumentViewer.tsx
  services/web/src/components/chat/ToolActivityIndicator.tsx
  services/web/src/hooks/useChat.ts
Due: eslint, typescript

docs: update README and .env.example for new architecture
  .env.example
  README.md
  pyproject.toml
Due: none

test: update tests for factory pattern and remove domain config tests
  packages/config/__init__.py
  packages/utils/__init__.py
  packages/utils/cache.py
  tests/TEST_SUMMARY_PAGE_NUMBERS.md
  tests/unit/packages/core/test_agent.py
  uv.lock
Due: none

test: add critical tests for factory and search tool
  tests/unit/packages/core/test_factory.py
  tests/unit/packages/core/test_search_tool.py
Due: none

chore: project cleanup and pydantic-ai compatibility fix
  deploy/docker-compose.yml
  packages/config/__init__.py
  services/web/eslint.config.mjs
Due: none

ci: update workflow to use uv package manager
  .github/workflows/ci.yml
Due: none

feat(ui): add shadcn/ui components (accordion, tooltip, select)
  services/web/src/app/globals.css
  services/web/src/components/ui/accordion.tsx
  services/web/src/components/ui/select.tsx
  services/web/src/components/ui/tooltip.tsx
Due: eslint, typescript

feat(chat): add LLM model selector with persistence
  services/web/package.json
  services/web/src/components/chat/ChatContainer.tsx
  services/web/src/components/chat/LLMSelector.tsx
  services/web/src/hooks/useChat.ts
  services/web/src/types/chat.ts
Due: eslint, typescript

feat(system): add system page with pipeline visualization
  services/api/app/api/system.py
  services/web/src/app/system/page.tsx
Due: eslint, typescript

test(factory): add model routing and provider config tests
  tests/unit/packages/core/test_factory.py
Due: none

docs(docker): add Docker import fix documentation and test script
  DOCKER_FIX.md
  scripts/test-docker-build.sh
Due: none

chore(scripts): add SSE stream debug utility
  scripts/test-sse.html
Due: none

feat(core): add multi-provider LLM support (OpenAI + Mistral)
  .env.example
  deploy/backend.Dockerfile
  packages/config/__init__.py
  packages/core/__init__.py
  packages/core/agent.py
  packages/core/factory.py
  packages/utils/providers.py
  services/api/app/api/chat.py
  services/api/app/core/rag_wrapper.py
  services/api/app/main.py
  services/web/package-lock.json
Due: none

feat: add domain-agnostic configuration system
  .env.example
  data/config/stopwords.json
  data/prompts/README.md
  data/prompts/query_expansion.txt
  data/prompts/system_prompt.txt
  packages/config/__init__.py
  packages/utils/prompt_loader.py
Due: none

feat: add query expansion and title re-ranking for RAG quality
  packages/core/query_expansion.py
  packages/core/tools/search_knowledge_base.py
Due: none

feat: add model switch detection to preserve chat history integrity
  services/api/app/core/rag_wrapper.py
Due: none

chore: remove obsolete documentation files
  CHANGELOG.md
  DOCKER_FIX.md
  services/api/requirements.txt
Due: none

feat: add system page with LLM model selector
  services/api/app/api/system.py
  services/web/src/app/system/page.tsx
  services/web/src/components/chat/ChatContainer.tsx
Due: eslint, typescript

docs: update README and quickstart guide
  README.md
  docs/quickstart.md
Due: none

test: update agent tests for new configuration
  tests/unit/packages/core/test_agent.py
Due: none

chore: update dependencies in pyproject.toml
  pyproject.toml
Due: none

refactor(pdf): replace react-pdf with native iframe viewer
  services/web/package-lock.json
  services/web/package.json
  services/web/src/components/chat/DocumentContent.tsx
  services/web/src/components/chat/DocumentViewer.tsx
  services/web/src/components/chat/PdfViewer.tsx
  services/web/src/components/chat/hooks/useDocumentFetch.ts
  services/web/src/components/chat/utils/formatUrl.ts
Due: eslint, typescript

feat(chunker): improve TOC detection with Docling labels
  packages/ingestion/chunker.py
Due: none

feat(db): add GIN index for French full-text search
  sql/schema.sql
Due: none

test: add benchmark script for vector vs hybrid search
  tests/benchmark_search.py
Due: none
