Repository ggustin93/nextjs-fastapi-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, requirements-txt-fixer, no-env-files, no-console-log

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile
  - black
  - --line-length
  - '100'

requirements-txt-fixer:
  name: Fix requirements.txt
  entry: requirements-txt-fixer
  language: system

no-env-files:
  name: Block .env files
  entry: .env files should not be committed
  language: fail

no-console-log:
  name: No console.log
  entry: console\.log
  language: pygrep

fix(tests): update test import paths for new structure
  tests/integration/test_api_integration.py
  tests/unit/services/api/test_api.py
Due: isort

chore: add local tool configs and cache to gitignore
  .gitignore
Due: none

feat(rag): numbered source citations + query reformulation + settings integration
  data/raw/web/sources.yaml
  packages/core/agent.py
  services/web/src/components/chat/DocumentViewer.tsx
Due: isort, no-console-log

feat(core): centralized config system + infrastructure improvements
  packages/config/__init__.py
  packages/utils/__init__.py
  packages/utils/cache.py
  packages/utils/db_utils.py
  packages/utils/providers.py
  packages/utils/supabase_client.py
Due: isort

refactor(ingestion): config integration + dead code cleanup
  packages/ingestion/chunker.py
  packages/ingestion/embedder.py
  packages/ingestion/ingest.py
Due: isort

feat(api): config integration + performance middleware + health endpoint
  packages/core/cli.py
  services/api/app/api/health.py
  services/api/app/main.py
  services/api/app/middleware/__init__.py
  services/api/app/middleware/performance.py
Due: isort

refactor(frontend): remove unused Web Vitals + markdown dependencies
  services/web/next.config.ts
  services/web/package-lock.json
  services/web/package.json
  services/web/src/app/api/health/route.ts
  services/web/src/components/Providers.tsx
Due: no-console-log

chore(devops): Docker, CI/CD, and development tooling updates
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  Makefile
  deploy/backend.Dockerfile
  deploy/frontend.Dockerfile
  deploy/nginx.conf
  docker-compose.yml
  scripts/restart-servers.sh
  scripts/scrape.py
Due: isort

docs: comprehensive documentation updates
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/api-versioning.md
  docs/architecture.md
  docs/project-structure.md
  docs/quickstart.md
Due: none

refactor: remove dead code and update tests (~867 lines removed)
  packages/core/reranker.py
  packages/scraper/__init__.py
  packages/utils/models.py
  tests/unit/packages/core/test_reranker.py
  tests/unit/packages/ingestion/test_cache.py
  tests/unit/services/api/test_api.py
Due: isort

chore(deps): update Python dependencies
  pyproject.toml
  uv.lock
Due: none

improve(rag): better query processing and similarity threshold
  packages/config/__init__.py
  packages/core/agent.py
  packages/utils/supabase_client.py
  tests/unit/packages/core/test_agent.py
Due: isort

refactor(ingestion): extract models to separate module
  packages/ingestion/ingest.py
  packages/ingestion/models.py
Due: isort

feat(config): add configurable system prompt for RAG agent
  .env.example
  packages/config/__init__.py
  packages/core/agent.py
  packages/utils/supabase_client.py
Due: isort

style: format Python files with ruff
  packages/config/__init__.py
  packages/core/agent.py
  packages/core/cli.py
  packages/ingestion/embedder.py
  packages/utils/cache.py
  packages/utils/db_utils.py
  packages/utils/providers.py
  packages/utils/supabase_client.py
  services/api/app/api/health.py
  services/api/app/middleware/performance.py
  tests/unit/services/api/test_api.py
Due: isort

feat(test): add explicit TypeScript types for Jest and Testing Library
  services/web/tsconfig.test.json
Due: none

feat(ci): integrate MyPROD GitHub environment for secret management
  .github/workflows/ci.yml
Due: none

docs: update changelog and add RAG customization guide
  CHANGELOG.md
  README.md
Due: none

refactor: code style and linting improvements
  packages/ingestion/chunker.py
  pyproject.toml
  scripts/scrape.py
  tests/unit/packages/core/test_agent.py
Due: isort

chore: update uv.lock
  uv.lock
Due: none

fix(rag): enhance system prompt to extract chunk content
  packages/config/__init__.py
Due: isort

feat(chat): add split-panel document viewer with desktop/mobile layouts
  services/web/src/app/page.tsx
  services/web/src/components/chat/ChatContainer.tsx
  services/web/src/components/chat/ChatLayout.tsx
  services/web/src/components/chat/ChatMessage.tsx
  services/web/src/components/chat/DocumentContent.tsx
  services/web/src/components/chat/DocumentPanel.tsx
  services/web/src/components/ui/resizable.tsx
  services/web/src/hooks/useMediaQuery.ts
Due: no-console-log

feat: add TypeScript support and improve search logging
  execution_plan.md
  package-lock.json
  package.json
  packages/config/__init__.py
  packages/core/agent.py
  services/web/package-lock.json
  services/web/package.json
  services/web/src/components/chat/ChatContainer.tsx
  services/web/src/components/chat/ChatInput.tsx
  services/web/src/components/chat/DocumentViewer.tsx
  services/web/src/hooks/useChat.ts
  services/web/tsconfig.json
Due: isort, no-console-log

api: secure document endpoints and DI-wrapped RAG agent
  services/api/app/api/documents.py
  services/api/app/core/rag_wrapper.py
  services/api/app/main.py
Due: isort

ingest: detect TOC chunks and add is_toc column
  packages/ingestion/chunker.py
  packages/ingestion/french_stopwords.py
  sql/schema.sql
Due: isort

tools: add RAG evaluation scripts and golden dataset
  scripts/analyze_threshold.py
  scripts/check_similarity_scores.py
  scripts/evaluate_rag.py
  tests/golden_dataset.csv
Due: isort

db: add hybrid_search RPC wrapper and include is_toc in payloads
  packages/config/__init__.py
  packages/core/agent.py
  packages/utils/supabase_client.py
Due: isort

web: document viewer with iframe fallback and improved PDF UX
  services/web/src/app/layout.tsx
  services/web/src/components/chat/DocumentContent.tsx
  services/web/src/components/chat/DocumentViewer.tsx
  services/web/src/components/chat/IframeViewer.tsx
  services/web/src/components/ui/input.tsx
Due: no-console-log

core: add DomainConfig dataclasses and optional tool templates
  packages/core/config/__init__.py
  packages/core/config/domain_config.py
  packages/core/tools/__init__.py
  packages/core/tools/external_api_example.py
Due: isort

web: ChatInput i18n and hydration guards
  services/web/src/__tests__/ChatInput.test.tsx
  services/web/src/components/chat/ChatInput.tsx
  services/web/src/types/chat.ts
Due: no-console-log

chore: update repo metadata and config
  .env.example
  .gitignore
  CHANGELOG.md
  README.md
Due: none

deps: add flashrank and refresh lockfile
  pyproject.toml
  uv.lock
Due: none

tests: add missing imports and align assertions with UI i18n
  tests/unit/packages/core/test_agent.py
Due: isort

chore: remove execution plan document and update related configurations
  execution_plan.md
Due: none

chore: setup pre-commit with Python and TypeScript linting
  .gitignore
  .pre-commit-config.yaml
Due: none

style: apply pre-commit formatting fixes
  .mcp.json
  data/examples/output/output_chunks.txt
  data/examples/output/output_company-overview.md
  data/examples/output/output_meeting-notes-2025-01-08.md
  data/examples/output/output_q4-2024-business-review.md
  data/examples/output/output_simple.md
  data/examples/output/output_technical-architecture-guide.md
  data/examples/output/output_transcript.md
  deploy/Dockerfile
  deploy/backend.Dockerfile
  deploy/docker-compose.yml
  deploy/frontend.Dockerfile
  packages/core/agent.py
  packages/core/config/__init__.py
  packages/core/config/domain_config.py
  packages/core/tools/external_api_example.py
  packages/ingestion/chunker.py
  scripts/analyze_threshold.py
  scripts/check_similarity_scores.py
  scripts/evaluate_rag.py
  services/api/app/core/rag_wrapper.py
  services/api/app/main.py
  services/web/public/file.svg
  services/web/public/globe.svg
  services/web/public/next.svg
  services/web/public/vercel.svg
  services/web/public/window.svg
  services/web/src/components/chat/DocumentViewer.tsx
  sql/schema.sql
  tests/integration/test_api_integration.py
Due: isort, no-console-log

docs: add pre-commit documentation and Makefile commands
  Makefile
  README.md
Due: none

feat: add PDF page number extraction and display
  packages/core/agent.py
  packages/ingestion/chunker.py
  services/web/src/components/chat/DocumentViewer.tsx
  services/web/src/types/chat.ts
Due: isort, no-console-log

fix: use get_output() instead of .data for StreamedRunResult
  services/api/app/core/rag_wrapper.py
Due: isort

Path conditions:
  isort: any of: \.py$ and not (^(\.venv|venv|services/api/venv)/) and not ((?x)^(
  .*\.(pyc|pyo|egg-info|min\.js|min\.css)|
  __pycache__|
  \.git|
  \.venv|
  venv|
  node_modules|
  \.next|
  build|
  dist|
  \.DS_Store|
  .*\.svg|
  .*\.ico|
  .*\.png|
  .*\.jpg|
  .*\.jpeg|
  .*\.gif|
  .*\.woff|
  .*\.woff2|
  .*\.ttf|
  .*\.eot|
  package-lock\.json|
  poetry\.lock|
  yarn\.lock
))
  requirements-txt-fixer: any of: requirements.*\.txt$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info|min\.js|min\.css)|
  __pycache__|
  \.git|
  \.venv|
  venv|
  node_modules|
  \.next|
  build|
  dist|
  \.DS_Store|
  .*\.svg|
  .*\.ico|
  .*\.png|
  .*\.jpg|
  .*\.jpeg|
  .*\.gif|
  .*\.woff|
  .*\.woff2|
  .*\.ttf|
  .*\.eot|
  package-lock\.json|
  poetry\.lock|
  yarn\.lock
)
  no-env-files: any of: ^\.env$|^\.env\..*(?<!\.example)$, but not: (?x)^(
  .*\.(pyc|pyo|egg-info|min\.js|min\.css)|
  __pycache__|
  \.git|
  \.venv|
  venv|
  node_modules|
  \.next|
  build|
  dist|
  \.DS_Store|
  .*\.svg|
  .*\.ico|
  .*\.png|
  .*\.jpg|
  .*\.jpeg|
  .*\.gif|
  .*\.woff|
  .*\.woff2|
  .*\.ttf|
  .*\.eot|
  package-lock\.json|
  poetry\.lock|
  yarn\.lock
)
  no-console-log: any of: \.(js|jsx|ts|tsx)$ and not (^(tests|__tests__|.*\.test\.|.*\.spec\.)) and not ((?x)^(
  .*\.(pyc|pyo|egg-info|min\.js|min\.css)|
  __pycache__|
  \.git|
  \.venv|
  venv|
  node_modules|
  \.next|
  build|
  dist|
  \.DS_Store|
  .*\.svg|
  .*\.ico|
  .*\.png|
  .*\.jpg|
  .*\.jpeg|
  .*\.gif|
  .*\.woff|
  .*\.woff2|
  .*\.ttf|
  .*\.eot|
  package-lock\.json|
  poetry\.lock|
  yarn\.lock
))
